# Data processing and empirical modelling

## Processing data in Julia

Different approaches are possible. We'll be using elements of [Tidier.jl](https://tidierorg.github.io/Tidier.jl/dev/), which mirrors a subset of the popular [Tidyverse](https://www.tidyverse.org/) collection of R packages.

In [1]:
using Tidier

### Reading in datasets

In [4]:
sales = read_csv("datasets/sales.csv")

5×7 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64       String15      String15     Int64       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         102           2  T-Shirt       Clothing             20
   3 │         103           3  Smartphone    Electronics         600
   4 │         101           4  Sneakers      Clothing             50
   5 │         104           5  Milk          Groceries             2        1 ⋯
                                                               2 columns omitted

In [5]:
customers =  read_csv("datasets/customers.csv")

5×5 DataFrame
 Row │ Customer_ID  Age    Gender   Income_Range    Region
     │ Int64        Int64  String7  String15        String7
─────┼──────────────────────────────────────────────────────
   1 │         101     35  Male     $50000-$75000   North
   2 │         102     28  Female   $40000-$50000   South
   3 │         103     45  Female   $75000-$100000  East
   4 │         104     50  Male     $100000+        West
   5 │         105     40  Male     $50000-$75000   North

### Selecting variables

In [6]:
sls = @chain sales begin
    @select(Product_ID,Product_Name,Unit_Price,Revenue,Units_Sold)
end

5×5 DataFrame
 Row │ Product_ID  Product_Name  Unit_Price  Revenue  Units_Sold
     │ Int64       String15      Int64       Int64    Int64
─────┼───────────────────────────────────────────────────────────
   1 │          1  Laptop               800    80000         100
   2 │          2  T-Shirt               20    10000         500
   3 │          3  Smartphone           600   120000         200
   4 │          4  Sneakers              50    15000         300
   5 │          5  Milk                   2     2000        1000

In [7]:
# Also possible
@select(sales, Product_ID,Product_Name,Unit_Price,Revenue,Units_Sold)

5×5 DataFrame
 Row │ Product_ID  Product_Name  Unit_Price  Revenue  Units_Sold
     │ Int64       String15      Int64       Int64    Int64
─────┼───────────────────────────────────────────────────────────
   1 │          1  Laptop               800    80000         100
   2 │          2  T-Shirt               20    10000         500
   3 │          3  Smartphone           600   120000         200
   4 │          4  Sneakers              50    15000         300
   5 │          5  Milk                   2     2000        1000

In [8]:
@chain sales begin
    @select(-Customer_ID) # exclude a column
end

5×6 DataFrame
 Row │ Product_ID  Product_Name  Category     Unit_Price  Units_Sold  Revenue
     │ Int64       String15      String15     Int64       Int64       Int64
─────┼────────────────────────────────────────────────────────────────────────
   1 │          1  Laptop        Electronics         800         100    80000
   2 │          2  T-Shirt       Clothing             20         500    10000
   3 │          3  Smartphone    Electronics         600         200   120000
   4 │          4  Sneakers      Clothing             50         300    15000
   5 │          5  Milk          Groceries             2        1000     2000

In [9]:
@chain sales begin
    @select(Category:Revenue) # select a subset of columns using a slice
end

5×4 DataFrame
 Row │ Category     Unit_Price  Units_Sold  Revenue
     │ String15     Int64       Int64       Int64
─────┼──────────────────────────────────────────────
   1 │ Electronics         800         100    80000
   2 │ Clothing             20         500    10000
   3 │ Electronics         600         200   120000
   4 │ Clothing             50         300    15000
   5 │ Groceries             2        1000     2000

### Filtering and slicing data. Renaming variables

In [10]:
@chain sales begin
    @filter(Category == "Electronics", Revenue >= 100000)
    @rename(Price = Unit_Price, Units = Units_Sold)
end

1×7 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Price  Units  Reven ⋯
     │ Int64        Int64       String15      String15     Int64  Int64  Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         103           3  Smartphone    Electronics    600    200   1200 ⋯
                                                                1 column omitted

In [11]:
@chain sales begin
    @slice(1:2,5)
end

3×7 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64       String15      String15     Int64       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         102           2  T-Shirt       Clothing             20
   3 │         104           5  Milk          Groceries             2        1
                                                               2 columns omitted

### Mutating variables

In [12]:
sls = @chain sls begin
        @mutate(P = Revenue/Units_Sold)
        @mutate(check = P - Unit_Price)
end

5×7 DataFrame
 Row │ Product_ID  Product_Name  Unit_Price  Revenue  Units_Sold  P        che ⋯
     │ Int64       String15      Int64       Int64    Int64       Float64  Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │          1  Laptop               800    80000         100    800.0      ⋯
   2 │          2  T-Shirt               20    10000         500     20.0
   3 │          3  Smartphone           600   120000         200    600.0
   4 │          4  Sneakers              50    15000         300     50.0
   5 │          5  Milk                   2     2000        1000      2.0      ⋯
                                                                1 column omitted

In [13]:
@chain sls begin
        @transmute(problem = check!=0)
end

5×1 DataFrame
 Row │ problem
     │ Bool
─────┼─────────
   1 │   false
   2 │   false
   3 │   false
   4 │   false
   5 │   false

### Joins

In [14]:
# left_join: first dataframe is the "leading" one
@chain sales begin
    @left_join(customers) # the common key is automatically discovered
end

5×11 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64       String15      String15     Int64       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         101           4  Sneakers      Clothing             50
   3 │         102           2  T-Shirt       Clothing             20
   4 │         103           3  Smartphone    Electronics         600
   5 │         104           5  Milk          Groceries             2        1 ⋯
                                                               6 columns omitted

In [15]:
# right_join: second dataframe is the "leading" one
@chain sales begin
    @right_join(customers) 
end

6×11 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64?      String15      String15     Int64?      Int64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         101           4  Sneakers      Clothing             50
   3 │         102           2  T-Shirt       Clothing             20
   4 │         103           3  Smartphone    Electronics         600
   5 │         104           5  Milk          Groceries             2        1 ⋯
   6 │         105     missing  missing       missing         missing     miss
                                                               6 columns omitted

In [16]:
# inner_join: on common keys, here happens to be the same as the left_join
@chain sales begin
    @inner_join(customers) 
end

5×11 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64       String15      String15     Int64       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         101           4  Sneakers      Clothing             50
   3 │         102           2  T-Shirt       Clothing             20
   4 │         103           3  Smartphone    Electronics         600
   5 │         104           5  Milk          Groceries             2        1 ⋯
                                                               6 columns omitted

### Groupby and summarize operations

In [17]:
@chain sales begin
    @group_by(Category)
    @mutate(avgP = mean(Unit_Price))
    @ungroup()
end

5×8 DataFrame
 Row │ Customer_ID  Product_ID  Product_Name  Category     Unit_Price  Units_S ⋯
     │ Int64        Int64       String15      String15     Int64       Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         101           1  Laptop        Electronics         800          ⋯
   2 │         103           3  Smartphone    Electronics         600
   3 │         102           2  T-Shirt       Clothing             20
   4 │         101           4  Sneakers      Clothing             50
   5 │         104           5  Milk          Groceries             2        1 ⋯
                                                               3 columns omitted

In [18]:
@chain sales begin
    @summarize(maxrev = maximum(Revenue), minP = minimum(Unit_Price))
end

1×2 DataFrame
 Row │ maxrev  minP
     │ Int64   Int64
─────┼───────────────
   1 │ 120000      2

In [19]:
@chain sales begin
    @group_by(Customer_ID)
    @summarize(maxrev = maximum(Revenue), minP = minimum(Unit_Price))
end

4×3 DataFrame
 Row │ Customer_ID  maxrev  minP
     │ Int64        Int64   Int64
─────┼────────────────────────────
   1 │         101   80000     50
   2 │         102   10000     20
   3 │         103  120000    600
   4 │         104    2000      2

### Pivot_wider and pivot_longer

In [20]:
@chain sales begin
    @select(Product_Name, Units_Sold)
    @pivot_wider(names_from = Product_Name, values_from = Units_Sold)
end

1×5 DataFrame
 Row │ Laptop  T-Shirt  Smartphone  Sneakers  Milk
     │ Int64?  Int64?   Int64?      Int64?    Int64?
─────┼───────────────────────────────────────────────
   1 │    100      500         200       300    1000

In [21]:
@chain sales begin
    @select(Product_ID, Category, Units_Sold)
    @pivot_wider(names_from = Category, values_from = Units_Sold)
end

5×4 DataFrame
 Row │ Product_ID  Electronics  Clothing  Groceries
     │ Int64       Int64?       Int64?    Int64?
─────┼──────────────────────────────────────────────
   1 │          1          100   missing    missing
   2 │          2      missing       500    missing
   3 │          3          200   missing    missing
   4 │          4      missing       300    missing
   5 │          5      missing   missing       1000

In [22]:
@chain sales begin
    @select(Customer_ID, Unit_Price, Units_Sold)
    @pivot_longer(Unit_Price:Units_Sold, names_to = "type", values_to = "value")
end

10×3 DataFrame
 Row │ Customer_ID  type        value
     │ Int64        String      Int64
─────┼────────────────────────────────
   1 │         101  Unit_Price    800
   2 │         102  Unit_Price     20
   3 │         103  Unit_Price    600
   4 │         101  Unit_Price     50
   5 │         104  Unit_Price      2
   6 │         101  Units_Sold    100
   7 │         102  Units_Sold    500
   8 │         103  Units_Sold    200
   9 │         101  Units_Sold    300
  10 │         104  Units_Sold   1000

# Growth accounting

Consider a two-factor Cobb-Douglas production function of the form
$$ Y_t = A_t K_t^\alpha L_t^{1-\alpha} $$

Here $Y_t$ is output (real GDP) in period $t$, $L_t$ is employment, $K_t$ is the capital stock and $A_t$ is total factor productivity (technology). The parameter $\alpha$ will be assumed to be known. Typical estimates are derived from national accounts data and can range from 0.3 to 0.45.

Data for $Y_t$ and $L_t$ is directly available from statistical sources (e.g. Eurostat). 

While data on $K_t$ is not published directly, there are techniques to reconstruct the capital stock under appropriate assumptions.

Then, TFP can be computed as a residual, e.g.
$$ \ln Y_t = \ln A_t + \alpha \ln K_t + (1-\alpha) \ln L_t ~\Rightarrow~ a_t = y_t - \alpha k_t -(1-\alpha)l_t,$$
where lower-case letters denote logs. This is known as the **Solow residual**.

Because a production function approach provides only an approximation to the real world, what actually happens is that $A_t$, measured as a residual picks up a lot of other influences, so it can't directly be interpreted as a measure of technology. This makes it interesting and a subject to independent analyses.

## Process data on GDP and components

In [23]:
natl_acc = read_csv("datasets/nama_10_gdp_linear.csv.gz")

880704×9 DataFrame
    Row │ DATAFLOW                LAST UPDATE        freq     unit        na_i ⋯
        │ String31                String31           String1  String31    Stri ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G  ⋯
      2 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      3 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      4 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      5 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G  ⋯
      6 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      7 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      8 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
      9 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G  ⋯
     10 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
     11 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        CLV05_MEUR  B1G
   ⋮    │           ⋮                     ⋮             ⋮         ⋮          ⋮ ⋱
 880695 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880696 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1  ⋯
 880697 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880698 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880699 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880700 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1  ⋯
 880701 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880702 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880703 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1
 880704 │ ESTAT:NAMA_10_GDP(1.0)  20/04/24 11:00:00  A        PYP_MNAC    YA1  ⋯
                                               5 columns and 880683 rows omitted

In [24]:
nat_acc = @chain natl_acc begin
    @select(unit, na_item, geo, TIME_PERIOD,OBS_VALUE)
    @rename(year=TIME_PERIOD, value=OBS_VALUE)
end

880704×5 DataFrame
    Row │ unit        na_item   geo       year   value
        │ String31    String15  String15  Int64  Float64?
────────┼───────────────────────────────────────────────────────
      1 │ CLV05_MEUR  B1G       AT         1995  177617.0
      2 │ CLV05_MEUR  B1G       AT         1996       1.80999e5
      3 │ CLV05_MEUR  B1G       AT         1997       1.84799e5
      4 │ CLV05_MEUR  B1G       AT         1998       1.92025e5
      5 │ CLV05_MEUR  B1G       AT         1999       1.98247e5
      6 │ CLV05_MEUR  B1G       AT         2000       2.05898e5
      7 │ CLV05_MEUR  B1G       AT         2001       2.08772e5
      8 │ CLV05_MEUR  B1G       AT         2002       2.12101e5
      9 │ CLV05_MEUR  B1G       AT         2003  214463.0
     10 │ CLV05_MEUR  B1G       AT         2004       2.20729e5
     11 │ CLV05_MEUR  B1G       AT         2005       2.25888e5
   ⋮    │     ⋮          ⋮         ⋮        ⋮          ⋮
 880695 │ PYP_MNAC    YA1       XK         2013       0.0
 880696 │ PYP_MNAC    YA1       XK         2014       0.0
 880697 │ PYP_MNAC    YA1       XK         2015       0.0
 880698 │ PYP_MNAC    YA1       XK         2016       0.0
 880699 │ PYP_MNAC    YA1       XK         2017       0.0
 880700 │ PYP_MNAC    YA1       XK         2018       0.0
 880701 │ PYP_MNAC    YA1       XK         2019       0.0
 880702 │ PYP_MNAC    YA1       XK         2020       0.0
 880703 │ PYP_MNAC    YA1       XK         2021       0.0
 880704 │ PYP_MNAC    YA1       XK         2022       0.0
                                             880683 rows omitted

In [25]:
bg_nat_acc = @chain nat_acc begin
    @filter(geo == "BG", unit == "CLV10_MNAC", na_item in ("B1GQ", "P51G"))
    @select(na_item,year,value)
    @drop_missing()
    @pivot_wider(names_from = na_item, values_from = value)
    @rename(gdp = B1GQ, inv = P51G)
end

29×3 DataFrame
 Row │ year   gdp       inv
     │ Int64  Float64?  Float64?
─────┼───────────────────────────
   1 │  1995   53253.3    4874.4
   2 │  1996   56025.4    1575.2
   3 │  1997   48117.2    3945.4
   4 │  1998   49940.4    5232.7
   5 │  1999   45747.3    6404.1
   6 │  2000   47845.9    7459.4
   7 │  2001   49675.4    8938.7
   8 │  2002   52592.3    9665.9
   9 │  2003   55346.6   10908.3
  10 │  2004   58949.9   12412.2
  11 │  2005   63109.6   15730.4
  ⋮  │   ⋮       ⋮         ⋮
  20 │  2014   77334.7   16823.0
  21 │  2015   79962.1   17269.8
  22 │  2016   82382.3   16125.5
  23 │  2017   84644.5   16646.5
  24 │  2018   86925.6   17546.0
  25 │  2019   90433.2   18340.7
  26 │  2020   86846.4   18449.8
  27 │  2021   93500.4   16913.0
  28 │  2022   97171.6   18011.1
  29 │  2023   98965.8   18610.0
                   8 rows omitted

## Process data on employment

In [26]:
labour = read_csv("datasets/nama_10_pe_linear.csv.gz")

15808×9 DataFrame
   Row │ DATAFLOW               LAST UPDATE        freq     unit         na_it ⋯
       │ String31               String31           String1  String15     Strin ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D ⋯
     2 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     3 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     4 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     5 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D ⋯
     6 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     7 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     8 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
     9 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D ⋯
    10 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
    11 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        PCH_PRE_PER  EMP_D
   ⋮   │           ⋮                    ⋮             ⋮          ⋮          ⋮  ⋱
 15799 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15800 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_ ⋯
 15801 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15802 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15803 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15804 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_ ⋯
 15805 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15806 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15807 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_
 15808 │ ESTAT:NAMA_10_PE(1.0)  20/04/24 11:00:00  A        THS_PER      SELF_ ⋯
                                                5 columns and 15787 rows omitted

In [27]:
lab = @chain labour begin
    @select(unit, na_item, geo, TIME_PERIOD,OBS_VALUE)
    @rename(year=TIME_PERIOD, value=OBS_VALUE)
end

15808×5 DataFrame
   Row │ unit         na_item  geo       year   value
       │ String15     String7  String15  Int64  Float64?
───────┼─────────────────────────────────────────────────
     1 │ PCH_PRE_PER  EMP_DC   AT         1996       0.4
     2 │ PCH_PRE_PER  EMP_DC   AT         1997       0.7
     3 │ PCH_PRE_PER  EMP_DC   AT         1998       1.0
     4 │ PCH_PRE_PER  EMP_DC   AT         1999       1.5
     5 │ PCH_PRE_PER  EMP_DC   AT         2000       0.9
     6 │ PCH_PRE_PER  EMP_DC   AT         2001       0.7
     7 │ PCH_PRE_PER  EMP_DC   AT         2002      -0.1
     8 │ PCH_PRE_PER  EMP_DC   AT         2003       0.7
     9 │ PCH_PRE_PER  EMP_DC   AT         2004       0.6
    10 │ PCH_PRE_PER  EMP_DC   AT         2005       1.2
    11 │ PCH_PRE_PER  EMP_DC   AT         2006       1.8
   ⋮   │      ⋮          ⋮        ⋮        ⋮       ⋮
 15799 │ THS_PER      SELF_NC  UK         2010    4084.0
 15800 │ THS_PER      SELF_NC  UK         2011    4158.0
 15801 │ THS_PER      SELF_NC  UK         2012    4332.0
 15802 │ THS_PER      SELF_NC  UK         2013    4372.0
 15803 │ THS_PER      SELF_NC  UK         2014    4674.0
 15804 │ THS_PER      SELF_NC  UK         2015    4679.0
 15805 │ THS_PER      SELF_NC  UK         2016    4891.0
 15806 │ THS_PER      SELF_NC  UK         2017    4914.0
 15807 │ THS_PER      SELF_NC  UK         2018    4895.0
 15808 │ THS_PER      SELF_NC  UK         2019    5094.0
                                       15787 rows omitted

In [28]:
bg_lab = @chain lab begin
    @filter(geo == "BG", unit ==  "THS_PER", na_item == "EMP_DC")
    @select(year,value)
    @drop_missing()
    @rename(emp = value)
end

29×2 DataFrame
 Row │ year   emp
     │ Int64  Float64
─────┼────────────────
   1 │  1995  3518.57
   2 │  1996  3614.98
   3 │  1997  3503.91
   4 │  1998  3467.92
   5 │  1999  3318.15
   6 │  2000  3239.2
   7 │  2001  3214.74
   8 │  2002  3222.12
   9 │  2003  3317.39
  10 │  2004  3403.4
  11 │  2005  3495.27
  ⋮  │   ⋮       ⋮
  20 │  2014  3434.17
  21 │  2015  3446.21
  22 │  2016  3463.35
  23 │  2017  3525.35
  24 │  2018  3521.64
  25 │  2019  3533.58
  26 │  2020  3451.74
  27 │  2021  3458.41
  28 │  2022  3446.69
  29 │  2023  3480.72
        8 rows omitted

## Combine output, investment and employment

In [29]:
gracc = @chain bg_nat_acc begin
    @inner_join(bg_lab)
end

29×4 DataFrame
 Row │ year   gdp       inv       emp
     │ Int64  Float64?  Float64?  Float64
─────┼────────────────────────────────────
   1 │  1995   53253.3    4874.4  3518.57
   2 │  1996   56025.4    1575.2  3614.98
   3 │  1997   48117.2    3945.4  3503.91
   4 │  1998   49940.4    5232.7  3467.92
   5 │  1999   45747.3    6404.1  3318.15
   6 │  2000   47845.9    7459.4  3239.2
   7 │  2001   49675.4    8938.7  3214.74
   8 │  2002   52592.3    9665.9  3222.12
   9 │  2003   55346.6   10908.3  3317.39
  10 │  2004   58949.9   12412.2  3403.4
  11 │  2005   63109.6   15730.4  3495.27
  ⋮  │   ⋮       ⋮         ⋮         ⋮
  20 │  2014   77334.7   16823.0  3434.17
  21 │  2015   79962.1   17269.8  3446.21
  22 │  2016   82382.3   16125.5  3463.35
  23 │  2017   84644.5   16646.5  3525.35
  24 │  2018   86925.6   17546.0  3521.64
  25 │  2019   90433.2   18340.7  3533.58
  26 │  2020   86846.4   18449.8  3451.74
  27 │  2021   93500.4   16913.0  3458.41
  28 │  2022   97171.6   18011.1  3446.69
  29 │  2023   98965.8   18610.0  3480.72
                            8 rows omitted

### Perpetual inventory method